@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Golos+Text:wght@500&family=Oswald:wght@500&display=swap');
/* used google font in skills section
(I couldnt find a nice font...) */
@media only screen and (max-width: 769px){
    .mainBody {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 0.5fr max-content auto max-content max-content  ;
        grid-template-areas:
        'header'
        'main'
        'education'
        'portfolio'
        'foot';
        gap: 2em ; 
      }
    
    .blogHTML,
    .skillsHTML{
    font-family: 'Segoe UI', Tahoma, 'Bebas Neue', Geneva, Verdana, sans-serif;
    }
    
    
    .mainContent{
        grid-area: main;
        width: 100%;
        height: 600px;
        background: #eff4fd;
    
    }
    header{
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }
    html {
        scroll-behavior: smooth;
      }
    nav{
        display: flex;
        width: 100%;
        margin: auto;
        padding: 20px 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
    }
    
    ul#eduList {
      list-style-type: square;
      margin-left: 5%;
  }
  
    .topLinks {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    .topLinks li {
      margin: 0 10px;
    }
    
    .logo{
        width: 15%;
        cursor: pointer;
    }
    
    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 1em 2em;
        font-size: larger;
    }
    
    nav ul li a{
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    
    nav ul li a:hover{
        color: rgb(34, 0, 255);
    }
    
    .profile-info{
       
        /* margin-left: 8%; */
        margin-top: 15%;
    }
    .profile-image{
        width: 50%;
        
        display: none;
        
        /* position: absolute; */
        /* right: 65%; */
    }
    .contact-details h1,
    .blogPost h1,
    .profile-info h1{
        position: relative;
        font-size: 50px;
        color: #212121;
        margin-bottom: 20px;
    }
    
    .profile-info a{
        background-color: #4CAF50;
    }
    .education{
        margin-left: 8%;
        margin-top: 5%;
        grid-area: education;
    }
    
    .contact-details {
       
        margin-left: 8%;
        margin-top: 5%;
    
        border-radius: 10px;
        
      }
        
      .contact-details ul {
        list-style: square;
        padding: 0;
        margin: 0;
      }
      
      .contact-details li {
        margin-bottom: 10px;
        font-size: 18px;
      }
      
      .contact-details li i {
        margin-right: 10px;
        color: #007bff;
        font-size: 24px;
      }
      
      .contact-details li a {
        color: #333;
        text-decoration: none;
      }
    
    
    
    ul#eduList {
        list-style-type: square;
    }
    
    ul#eduSubList{
        list-style-type: circle;
        margin-bottom: 2%;
    }
    .education h1{
        position: relative;
        font-size: 50px;
        color: #212121;
        margin-bottom: 5%;
    }
    
    .CV h1{
        margin-left: 8%;
        margin-top: 5%;
        position: relative;
        font-size: 40px;
        color: #212121;
    }
    
    /* Portfolio table styles */
    .portfolio{
      height: 101%;
      background: #eff4fd;
      grid-area: portfolio;
    }
    .portfolio h1{
      margin-left: 8%;
      margin-top: 5%;
      position: relative;
      font-size: 40px;
      color: #212121;
    }
    .portfolio table {
        margin: auto;
        margin-top: 5%;
    
        width: 80%;
        height: 70%;
        max-width: 1500px;
        border-collapse: collapse;
        border-spacing: 0;
        background-color: #fff;
        box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.1);
        border-radius: 1em;
      }
      
      .portfolio th {
        position: sticky;
        top: 0; 
    
        background-color: #eeecec;
        color: #333;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        padding: 20px;
        border-bottom: 1px solid #ccc;
      }
      
      .portfolio td {
        color: #666;
        font-size: 18px;
        vertical-align: middle;
        padding: 20px;
        border-bottom: 1px solid #ccc;
      }
      
      .portfolio td a {
        display: block;
      }
      
      .portfolio .projectImg {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        
      }
      
      .portfolio .projectImg:hover {
        /* rgba(10, 57, 125, 1); */
        transform: scale(1.05);
        box-shadow: 20px 20px 200px rgba(1, 6, 12, 0.5);
      }
    
    span{
        color: rgb(10, 57, 125);  
        font-style: oblique;
    }
    
    /* form for selecting date */
    /* Form Styles */
    .Months {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem auto;
      width: 80%;
    }
    
    .selectMonths {
      padding: 0.5rem;
      font-size: 1.2rem;
      border-radius: 0.25rem;
      border: none;
      background-color: #f1f1f1;
      margin-bottom: 1rem;
      width: 100%;
      max-width: 400px;
    }
    
    .selectMonths option {
      font-size: 1.2rem;
    }
    
    .selectMonths:focus {
      outline: none;
      box-shadow: 0 0 0 2px #4496f5;
    }
    
    input[type="submit"] {
      background-color: rgb(10, 57, 125); 
      color: #fff;
      border: none;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }
    
    input[type="submit"]:hover {
      background-color: #0063cc;
    }
    
    /* Table Styles */
    
    .viewBlogTable {
      width: 95%;
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
      color: #333;
    
      margin: 2rem auto;
    }
    
    .viewBlogTable thead {
      background-color: #f5f5f5;
    }
    
    .viewBlogTable th {
      font-weight: bold;
      padding: 8px;
      text-align: left;
    
      border: none;
      border-bottom: 0.1em solid #000000;
    }
    
    .viewBlogTable td {
      border: 1px solid #ddd;
      padding: 8px;
      border: none;
      border-bottom: 0.1em solid #000000;
    }
    
    .viewBlogTable tr:nth-child(even) td {
      background-color: #f2f2f2;
    }
    
    .viewBlogDate, .viewBlogText, .extraFeature, .comments {
      text-align: center;
    }
    
    .blogDate, .blogTime, .blogTitle {
      margin: 0;
    }
    
    .blogTitle {
      font-size: 18px;
      font-weight: bold;
    }
    
    .deleteBtn, .addBtn {
      border: none;
      background-color: transparent;
      color: #007bff;
      cursor: pointer;
    }
    
    .deleteBtn:hover, .addBtn:hover {
      text-decoration: underline;
    }
    
    
    /* comments area */
    
    .addComment {
      display: flex;
      flex-direction: column;
    }
    
    .CommentArea {
    
      width: 50%;
    
      border-radius: 7px;
      padding: 8px;
      margin-bottom: 8px;
      resize: vertical;
    }
    
    /* comments table styles */
    .noLogin {
      color: #888;
      font-size: 0.8em;
      font-style: italic;
      text-align: center;
    }
    .noLogin:hover {
      text-decoration: underline;
    }
    
    .addBtn {
      background-color: rgb(10, 57, 125); 
      color: white;
      border: none;
      border-radius: 4px;
      padding: 4px 10px;
      margin-left: 10px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }
    .addBtn:hover {
      background-color: #0063cc;
    }
    .addComment form {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    
    .commentsTable {
      width: 100%;
      margin: 20px 0;
      border-collapse: collapse;
      border-spacing: 0;
    
     
    
    }
    
    .commentsTable thead tr {
      background-color: #f5f5f5;
    }
    
    .commentsTable th,
    .commentsTable td {
      padding: 10px;
      text-align: left;
      vertical-align: top;
    
      border: none;
      border-radius: 10px;
      border-bottom: 1px solid #ddd;
    }
    
    .commentsTable th {
      font-weight: bold;
    }
    
    .commentsTable .commentsTD {
      width: 80%;
      
    }
    
    .commentsTable form {
      display: inline-block;
      margin: 0;
    }
    
    .deleteBtn {
      background-color: #ff6666;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 4px 10px;
      margin-left: 10px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }
    
    .deleteBtn:hover {
      background-color: #bb3232;
    }
    
    /* about me section with my image */
    .profile-info p{
        color: #555;
        line-height: 22px;
    }
    
    .profile-info a{
        background: #212121;
        padding: 10px 18px;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        display: inline-block;
        margin: 30px 0;
        border-radius: 5px;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .profile-image {
    margin-top: 110%;
    margin-left:-5%;
    
    }
    .me {
    width: 100px;
    }
    
    .shape {
        display: none;
    }
    
    .profile-image:hover .shape{
        bottom: 40px;
    }
    
    .profile-image:hover .me{
        left: 40%;
    }
    
    .profile{
        display: flex;
        /* background-color: #000; */
        flex-direction: row;
    }
    
    footer{
        grid-area: foot;
        
        color: #000000;
        
        text-align: right;
        height: fit-content;
        margin-top: 20%;
    
        
      }
      /* ----------------------------------------------------------------------- */
      /* login form */
      .invalidDetails{
        color: #bb3232;
      }
    .forms {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
    
        padding-bottom: 7%;
        background: #eff4fd;
       
      }
      .blogForm {
        margin-top: 25%;
        
    
        width: 100%;
        
        text-align: center;
        
        padding: 1em;
    
    
        border-collapse: collapse;
        border-spacing: 0;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }
      .loginForm {
       
        
        border: #ee0000;
        border-radius: 5px;
        
        margin-bottom: -22%;
    
        width: 100%;
        height: max-content;
        text-align: center;
        
        padding: 2em;
        padding-bottom: 27%;
    
        border-collapse: collapse;
        border-spacing: 0;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      } 
      .formfielda {
        width: 90%;
        
       
        padding: 1em;
        margin-bottom: 1em;
      }
      .formfieldb {
        width: 90%;
        height: 10em;
        padding: 1em;
        margin-bottom: 1em;
        
    }
      .postButton,
      .clearButton {
        margin: 2%;
        padding: 2% 4%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    
        
      }
      .postButton {
        background-color: #4CAF50;
        color: white;
    
        
      }
      
      .clearButton {
        background-color: #f44336;
        color: white;
      }
    
      .logo{
        background-color: #007bff;
      }
      
      .postButton:hover,
      .logo:hover,
      .clearButton:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      /* BLOG POST SECTION */
    
     .blogPost h1{
        margin-left: 8%;
        text-decoration: underline;
        margin-top: 5%;
      }
    
     .skillHeading h1{
      margin-left: 8%;
      margin-top: 5%;   
      text-decoration: underline;
    }
    
    .blogPost{
     
      margin-bottom: 10%;
    
      background-color: #eff4fd;
      
    }
    
    
    
     /* skills page */
    
     .skills {
      background-color: #eff4fd;
      
      padding: 5%;
      margin-top: 3.5%; 
      
      display: flex;
      align-items: center;
      }
    
      div.content{
        background-color: #eff4fd;
        height: 35em;
      }
      
      .skillRow1,
      .skillRow2 {
      margin-left: 9%;
      margin-right: 10px;
      margin-bottom: 10px; 
      }
      
      .skillRow1 p,
      .skillRow2 p {
      
      font-weight: bold;
      color: rgb(0, 0, 0);
      font-family: Bebas Neue;  
     
      }
    
      .percentage{
        margin-left: 40%;
      }
      
      .outlineBar {
      margin-top: 15%;
      margin-left: 7.5%;
    
      height: 2em; 
      width: 10em; 
      border-radius: 0.7em;
      background-color: lightgray;
      margin-right: 1em;
      }
    
      .barFillCSS{
        width: 40%;
        background-color: rgb(8, 190, 117);
      }
      
      
      .barFill1,
      .barFill2,
      .barFillCSS,
      .japeBar {
      height: 100%;
      border-radius: 0.7em;
      }
      
      .barFill1 {
      width: 70%;
      background-color: rgb(220, 61, 61);
      }
      
      .barFill2 {
      width: 80%;
      background-color: rgb(126, 63, 207);
      }
      
      .japeBar {
      width: 200%;
      background-color: rgb(86, 188, 195);
      }
    
      .japeBar:hover {
        transform: scale(1.5);
        box-shadow: 2em 2em 20em rgb(51, 61, 4);
      }
      
      .percentage {
      font-weight: bold;
      color: white;
      }
}